{% extends 'enroll/base.html' %}
{% block content %}
<div class="row">
    <div class="col-sm-4">
        <h4 class="text-center alert alert-info">User Login</h4>
        <form action="" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" class="btn btn-success" value="Login">
        </form>
    </div>

    <div class="col-sm-7 offset-1">
        <h4 class="text-center alert alert-info">Student Information</h4>
        {% if stu %}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Mobile</th>
                        <th scope="col">Sex</th>
                        <th scope="col">Document</th>
                    </tr>
                </thead>
                <tbody>
                    {% for st in stu %}
                    <tr>
                        <th scope="row">{{ st.id }}</th>
                        <td>{{ st.name }}</td>
                        <td>{{ st.email }}</td>
                        <td>{{ st.mobile }}</td>
                        <td>{{ st.sex }}</td>
                        <td>{{st.document}}</td>
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h4 class="text-center alert alert-warning">No Records</h4>
        {% endif %}
    </div>
</div>
{% endblock content %}